body {
    background-image: url('abtimg.webp');
    background-size: cover;
    background-position: center top;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(255, 111, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 1em;
}

header img {
    max-width: 100px;
    height: auto;
}

.header-button {
    background-color: rgba(255, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    position: absolute;
    top: 10%;
    right: 80px;
    transform: translateY(-50%);
    border-radius: 8%;
    cursor: pointer;
    font-size: 16px;
}

.header-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.image-container {
    text-align: center;
    position: relative;
}

.image-text h2{
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 34px;
}

.image-text2 p{
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 18px;
}

p{
    color: #fff;
    font-size: 24px;
}

h2{
    color: #ffffff;
    font-size: 34px;
}

footer {
    background-color: rgba(255, 111, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
